* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a8e7ca;
}

.calculator {
  font: normal 200 1.2em sans-serif;
  color: #fff;
  user-select: none;
  height: 420px;
  width: 260px;
  padding: 5px;
  margin: 100px auto auto auto;
  background-color: #25232d;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "result result result result" "result result result result" "c percent division multiplication" "seven eight nine subtraction" "four five six addition" "one two three equal" "zer point dele equal";
  gap: 2px;
  border-radius: 10px;
}
.calculator .result {
  border-radius: 8px 8px 0 0;
  grid-area: result;
  background-color: #3d394a;
  pointer-events: none;
}
.calculator .equal {
  border-radius: 0 0 8px 0;
  background-color: #c91842;
}
.calculator .equal:hover {
  background-color: #e62e5a;
}
.calculator .equal:active {
  background-color: #e9456c;
}
.calculator .toc {
  color: #e9456c;
  background-color: #484458;
}

.btn {
  text-align: center;
  padding-top: 18px;
  background-color: #3d394a;
}
.btn:hover {
  background-color: #545066;
}
.btn:active {
  background-color: #605b75;
}

.c {
  grid-area: c;
}

.percent {
  grid-area: percent;
}

.divison {
  grid-area: division;
}

.multiplication {
  grid-area: multiplication;
}

.subtraction {
  grid-area: subtraction;
}

.addition {
  grid-area: addition;
}

.equal {
  grid-area: equal;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.zer {
  grid-area: zer;
  border-radius: 0 0 0 8px;
}

.point {
  grid-area: point;
}

.dele {
  grid-area: dele;
}

.box-historic {
  height: 1.5em;
  font-size: 1em;
  padding: 10px 10px 0 0;
  text-align: end;
}

.box-operation {
  display: flex;
  height: 70%;
  align-items: end;
}

.box-operation-sign {
  padding-left: 5px;
  width: 100%;
  flex-shrink: 2;
  font-size: 1.5em;
}

.box-operation-num {
  padding-right: 5px;
  text-align: end;
  width: 100%;
  flex-shrink: 1;
  font-size: 3em;
}